In [1]:
import pandas as pd

In [2]:
air_quality=pd.read_csv('air_quality.csv')

In [3]:
air_quality

,date_time,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013-03-01 00:00:00,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2013-03-01 01:00:00,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,2013-03-01 05:00:00,4.0,4.0,9.0,25.0,300.0,78.0,-2.4,1027.5,-21.3,0.0,NW,2.4,Dongsi
3,2013-03-01 06:00:00,5.0,5.0,10.0,29.0,400.0,67.0,-2.5,1028.2,-20.4,0.0,NW,2.2,Dongsi
4,2013-03-01 07:00:00,3.0,6.0,12.0,40.0,400.0,52.0,-1.4,1029.5,-20.4,0.0,NNW,3.0,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95680,2017-02-28 15:00:00,9.0,9.0,2.0,22.0,300.0,91.0,15.4,1013.0,-15.0,0.0,NNW,3.3,Tiantan
95681,2017-02-28 16:00:00,10.0,29.0,3.0,21.0,300.0,94.0,14.9,1012.6,-15.4,0.0,NW,2.1,Tiantan
95682,2017-02-28 21:00:00,18.0,32.0,4.0,48.0,500.0,48.0,10.8,1014.2,-13.3,0.0,NW,1.1,Tiantan
95683,2017-02-28 22:00:00,15.0,42.0,5.0,52.0,600.0,44.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Tiantan
95684,2017-02-28 23:00:00,15.0,50.0,5.0,68.0,700.0,21.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Tiantan

In [4]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95685 entries, 0 to 95684
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  95685 non-null  object
 1   PM2.5      95685 non-null  float64
 2   PM10       95685 non-null  float64
 3   SO2        95685 non-null  float64
 4   NO2        95685 non-null  float64
 5   CO         95685 non-null  float64
 6   O3         95685 non-null  float64
 7   TEMP       95685 non-null  float64
 8   PRES       95685 non-null  float64
 9   DEWP       95685 non-null  float64
 10  RAIN       95685 non-null  float64
 11  wd         95685 non-null  object
 12  WSPM       95685 non-null  float64
 13  station    95685 non-null  object
dtypes: float64(11), object(3)
memory usage: 10.2+ MB

In [5]:
air_quality['date_time']=pd.to_datetime(air_quality['date_time'])

In [ ]:
air_quality['date_time'].dt.year

In [ ]:
air_quality['year']=air_quality['date_time'].dt.year
air_quality

In [ ]:
air_quality['month']=air_quality['date_time'].dt.month_name()
air_quality['day']=air_quality['date_time'].dt.day
air_quality['day_of_the_week']=air_quality['date_time'].dt.day_name()
air_quality['year']=air_quality['date_time'].dt.year

air_quality

In [ ]:
datetime_range=air_quality['date_time'].max()-air_quality['date_time'].min()
datetime_range

In [ ]:
datetime_range/pd.Timedelta(days=365)

In [ ]:
air_quality.plot('year','PM2.5')

In [ ]:
air_quality['PM2.5'].hist()

In [ ]:
pm2_5=pd.cut(air_quality['PM2.5'],bins=10)
pm2_5

In [ ]:
pm2_5.value_counts()

In [ ]:
air_quality['PM2.5_category']=pd.cut(air_quality['PM2.5'], bins=[0,12,35.4,55.4,150.4,250.4,999],
                         labels=['Good','Moderate','Unhealthy for sensitive groups','Unhealthy','Very Unhealthy','Hazardous'])
air_quality['PM2.5_category'].value_counts()

In [ ]:
air_quality['PM2.5_category'].hist(figsize=(12,8))

# Mapping to new values

In [ ]:
air_quality['day_of_the_week'].value_counts()

In [ ]:
day_of_the_week_mapping={
    'Monday':'Weekday',
    'Tuesday':'Weekday',
    'Wednesday':'Weekday',
    'Thursday':'Weekday',
    'Friday':'Weekday',
    'Saturday':'Weekend',
    'Sunday':'Weekend',
}
air_quality['day_of_the_week_type']=air_quality['day_of_the_week'].map(arg=day_of_the_week_mapping)

In [ ]:
air_quality['day_of_the_week_type','day_of_the_week']

In [ ]:
#using function to map

In [ ]:
air_quality['wd']

In [ ]:
def wd_direction(wd):
    if wd[0]=='N':
        return 'NORTH'
    elif wd[0]=='S':
        return 'SOUTH'
    elif wd[0]=='E':
        return 'EAST'
    else:
        return 'WEST'

In [ ]:
air_quality['wd'].map(wd_direction).value_counts()

In [ ]:
air_quality[['PM2.5','PM10']]

In [ ]:
air_quality.apply(lambda row: row['PM2.5']/row['PM10'],axis=1)

In [ ]:
air_quality.head(3)

In [ ]:
air_quality.columns

In [ ]:
air_quality['TEMP_CAT']=pd.qcut(air_quality['TEMP'],q=5,
                               labels=['very cold','cold','moderate','warm','hot'])

In [ ]:
air_quality[['TEMP','TEMP_CAT','RAIN']]

In [ ]:
#making a decission whether to stay home or go outside

In [ ]:
def activity_decission(pm25_cat,temp_cat,rain):
    if pm25_cat in ['Good','Moderate'] and temp_cat in['moderate','warm'] and rain==0:
        return 'Good Day to go out.'
    else:
        return 'Safe to stay indoors.'

In [ ]:
air_quality['Activity_Decission']=air_quality.apply(lambda row: activity_decission(row['PM2.5_category'],row['TEMP_CAT'], row['RAIN']), axis=1)

In [ ]:
air_quality[['PM2.5_category','TEMP','TEMP_CAT','RAIN','Activity_Decission']]

In [ ]:
air_quality.info()

In [ ]:
air_quality['TEMP'].describe()

In [ ]:
air_quality['PM2.5_category'].describe()

In [ ]:
air_quality.describe(include=['object','category','bool'])